# Python Basics

## Variables:
    - To change a value
    - To store a value

In [1]:
a = 100
a

100

In [2]:
b = 200
b

200

In [3]:
b = b+a
b

300

In [4]:
b=b+a

In [5]:
b

400

In [6]:
a
b

400

In [7]:
b
a

100

In [8]:
a,b

(100, 400)

In [9]:
print(a,b)

100 400

In [10]:
c = 500
g = 125.000
print(g,c)

125.0 500

In [11]:
d,m = 45,'tarun'
print(d,m)

45 tarun

In [12]:
y,k,i = 12.00,'45'
print(y,k,i)

ValueError: not enough values to unpack (expected 3, got 2)

In [13]:
y,k,i = 12.00,'45',78,'ramesh'
print(y,k,i)

ValueError: too many values to unpack (expected 3)

In [14]:
q = e = w = 45
print(q,e,w)

45 45 45

## Data Types:
    - int => only integer values
    - float => both integer adn decimal values
    - string => ' or "
    - complex => real and imaginary part
    - boolean => True,False or None
    - All Data Structures [List,Tuple,Set,String and Dictionary]

## Type method:
    - To know the data type of a variable value

In [15]:
r = '78'
r

'78'

In [16]:
print(r)

78

In [21]:
e,u,i,p,b = 12,45.04545,'tilak',False,'67'
print(e,type(e))
print(u,type(u))
print(i,type(i))
print(p,type(p))
print(b,type(b))

12 <class 'int'>
45.04545 <class 'float'>
tilak <class 'str'>
False <class 'bool'>
67 <class 'str'>

In [18]:
type(u)

float